        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right"> 
                    <li class="<%= active == 'home' ? 'active' : ''; %>">
                        <a href="/">Home</a>
                    </li>
                    <li class="<%= active == 'signup' ? 'active' : ''; %>">
                        <a href="/signup">Sign up</a>
                    </li>
                    <li class="<%= active == 'login' ? 'active' : ''; %>">
                        <a href="/login">Login</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><a href="/">formdata</a></h3>
        </div>